# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

* Python
* R
* SQL

**Objectives:**

### List popular languages for Data Science

* Julia
* Scala
* SQL

Some of the commonly used libraries used by Data Scientists include:

* NumPy
* Pandas
* scikit-learn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Visual Studio Code (VSCode) |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Sharif Alhyasat